@page
@model GlamTreasures.Pages.Sets.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Esti sigur ca doresti sa stergi?</h3>
<div>
    <h4>Set</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Set.Denumire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Set.Denumire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Set.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Set.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Set.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Set.ImageUrl)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Set.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi la lista</a>
    </form>
</div>
